{% extends 'landingpage.html' %}
{% load static %}
{% block title %}
    Regular User Appointment Request
{% endblock %}
{% block content %}
<br><br><br><br><br>
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
<section id="appointment" class="appointment section-bg">
    <div class="container">
    
    <div class="section-title">
    <h2>Make an Appointment</h2>
    <p>For seamless appointment scheduling, regular users can proceed directly, while we recommend 
        logging in or creating an account for added convenience and personalized care.</p>
    </div>
    <div class="col-md-6 offset-md-3">
    <form method="post" action="{% url 'make_appointment' %}">
        {% csrf_token %}
        {% if form.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  Your Form Has Errors
                  {% for field in form %}
                      {% if field.errors %}
                          {{ field.errors }}
                      {% endif %}
                  {% endfor %}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {{ appointment_form.as_p }}
        <br/>
          <button type="submit" class="btn btn-primary">Make and Appointment</button>
      </form>
    </div>
    
    <script>
    document.getElementById('id_specialization').addEventListener('change', function() {
        const specializationId = this.value;
    
        // Fetch doctors related to the selected specialization
        fetch(`/doctors_by_specialization/${specializationId}/`)
            .then(response => response.json())
            .then(doctors => {
                const doctorSelect = document.getElementById('id_doctor');
    
                // Clear existing options
                doctorSelect.innerHTML = '';
    
                // Add new options based on the fetched doctors
                doctors.forEach(doctor => {
                    const option = document.createElement('option');
                    option.value = doctor.pk;
                    option.textContent = doctor.first_name + ' ' + doctor.last_name;
                    doctorSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching doctors:', error));
    });
    </script>
                
    </div>
    </section>

{% endblock %}
